.new-Playlist {
    /*
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    */
    margin-top: 20px;
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 5px;
}
.playlist-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.playlist-song,
.playlist-artist,
.playlist-album {
  margin: 5px 0;
}

.playlist-name-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
