.App {
    background-color: #eee;
    height: 100vh;
    width: 100vh;
    
}
.search-bar-container {
    padding-top: 20vh;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   /* min-width: 200px; */
}
.search-bar-resultBoxes {
    display: flex;
    flex-direction: row;
    width: 160%;
    justify-content: space-between;
    

}
